<h1>Addition</h1>

<dl>
<div> First number</div>
   <dd><%= @first_num %></dd>

  <div>Second number</div>
<dd> <%= @second_num %></dd>

  <div>Result</div>
  <dd><%= @result %></dd>
</dl>

<a href="/add">Do another addition</a>
